main {
    width: 100%;
    max-width: 600px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    height: 100vh;
    max-height: 1100px;
    line-height: initial;
}

main * {
    line-height: initial;
}

body {
    background-color: lightblue;
    text-align: center;
    line-height: 100vh;
    height: auto;
}

@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-Light.otf");
}

 @font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-Bold.otf");
    font-weight: bold;
}